body { 
  background-color: #0af;
}
.row {
  display: flex;
}

.video {
  width: 70%;
  height: auto;
  position: absolute;
  
}

.canvas {
  width: 70%;
  height: auto;
  position: absolute;
  z-index: 1; 
}
.column1 {
  flex: 25%;
}
.column2 {
  flex: 75%;
}
